<ion-header>
  <ion-toolbar class="new-background-color">    
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="volver"
          mode="ios">
      </ion-back-button>
    </ion-buttons>

    <ion-title>INFORMACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <h1>VIDA SUBMARINA</h1>

  <br>
  <ion-card>
    <ion-img src="assets/img/pez-payaso.jpg" class="card-img"></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Importancia de la vida submarina</ion-card-subtitle>
      <ion-card-title class="titulo">¿Por qué es importante?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      Los océanos proporcionan recursos naturales fundamentales
      como alimentos, medicinas, biocombustibles y otros
      productos. Además producen más de la mitad del oxígeno que respiramos,
      regula le clima de la tierra, proporciona empleos y contribuyen a la descomposición molecular y
      a la eliminación de los desechos y la contaminación.
    </ion-card-content>
  </ion-card>
  
  <br>

  <ion-card>
    <ion-img src="assets/img/plastico.jpg" class="card-img"></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Problematicas a enfrentar</ion-card-subtitle>
      <ion-card-title class="titulo">El Plástico en el Mar</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      Uno de los grandes problemas del plástico es que a diferencia de la materia orgánica, se rompe en pedazos cada vez más 
      pequeños por lo que perdura en el tiempo. Gran parte del plástico fragmentado es arrastrado 
      al mar por los vientos  y corrientes, esto junto con los depósitos de plástico, 
      preocupan a la comunidad científica la cual calcula que para el año 2048 habrá más plástico que peces en el mar.
    </ion-card-content>
  </ion-card>

  <br>

  <ion-card>
    <ion-img src="assets/img/eutrofizacion.jpg" class="card-img"></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Problematicas a enfrentar</ion-card-subtitle>
      <ion-card-title class="titulo">Contaminación y Eutrofización</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      El efecto de acidificación en los océanos es el resultado de las 
      emisiones de dióxido de carbono a la atmósfera procedentes de las 
      actividades humanas. Esto produce que el océano se vuelva más ácido,
      disminuyendo el pH marino, estos cambios pueden tener consecuencias 
      enormes en algunos organismos y causar efectos colaterales en toda 
      la cadena alimentaria, dichos efectos también pueden afectar a los seres 
      humanos, influyendo en los medios de subsistencia y la seguridad alimentaria 
      de miles de millones de personas.
    </ion-card-content>
  </ion-card>

  <br>

  <ion-card>
    <ion-img src="assets/img/pesca.jpg" class="card-img"></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Problematicas a enfrentar</ion-card-subtitle>
      <ion-card-title class="titulo">Pesca excesiva</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      La pesca excesiva es producto de la pesca ilegal, 
      detenerla permitirá que las existencias se reconstruyan, 
      lo que aumentaría la productividad y maximizaría los ingresos de la 
      industria a largo plazo. La sobre pesca supone una gran amenaza para 
      la biodiversidad marina y el equilibrio ecológico, hoy en día el 80% 
      de las reservas de peces están explotadas la máximo.
    </ion-card-content>
  </ion-card>

  <br>

  <ion-card>
    <ion-img src="assets/img/salvar.jpg" class="card-img" ></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Salvar a los océanos</ion-card-subtitle>
      <ion-card-title class="titulo">¿Cómo puedo ayudar?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-padding contenido">
      Las maneras con las cuales más puedes ayudar son; consumiendo la cantidad 
      necesaria de productos provenientes de los océanos y que sean certificados, 
      utilizando transporte público y desconectando aparatos electrónicos, reduciendo 
      así la huella de carbono y de esta forma aumentar el nivel del mar, eliminar el 
      uso de plástico y participar en actividades de limpieza de las playas y por último 
      y más importante difundir el mensaje sobre la importancia de la vida marina.
    </ion-card-content>
  </ion-card>

</ion-content>
