//Estilos generales

.new-background-color{
    --background: #06468f;
}

ion-title{
    color: #fff;
}



ion-content {
    --background: url('/assets/img/opcion2.jpg') no-repeat center center / cover;
}


//----------------------Lista-----------------------

ion-list{
    --ion-background-color: #06468f;
    box-shadow: 0px 10px 10px 0px rgba(6, 15, 94, 0.88);
}

ion-item{
    color: #fff;
}

ion-icon{
    color: #fff;
}
